<div class="container">
    <div class="footer__inner">
    <div class="footer__row">
        <!-- col1 -->
        <div class="footer__col">
            <div class="footer__logo">
                <img src="../assets/icon/logo.svg" alt="">
                <h3 class="footer_heading footer_heading-icon ">grocerymart</h3>
            </div>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="">Shop Home</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Mens</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Womens</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Kids</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Classics</a>
                </li>
            </ul>
        </div>
    
        <!-- col3 -->
        <div class="footer__col">
            <h3 class="footer_heading">SUPPORT</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href=""> Store Locator</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Oder Status</a>
                </li>
                
            </ul>
        </div>
        <!-- col4 -->
        <div class="footer__col">
            <h3 class="footer_heading">COMPANY</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href=""> Skate</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Surt</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Women a surt</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">Snow</a>
                </li>
                <li class="footer__item">
                    <a class="footer__link" href="">BMX</a>
                </li>
            </ul>
        </div>
        <!-- col5 -->
        <div class="footer__col">
            <h3 class="footer_heading">CONTACT</h3>
            <ul class="footer__list">
                <li class="footer__item">
                    <P class="footer__label">Email</P>
                    <a class="footer__link" href="">giaphongquan2407@gmail.com</a>
                </li>
                <li class="footer__item">
                    <P class="footer__label">Telephone</P>
                    <a class="footer__link" href="">0335906806</a>
                </li>
                <li class="footer__item">
                    <P class="footer__label">Address</P>
                    <a class="footer__link-text" href="">Đường số 46-CL, Cát Lái, Quận 2, Thành phố Hồ Chí Minh, Việt Nam</a>
                </li>
                <li class="footer__item">
                    <P class="footer__label">Hours</P>
                    <a class="footer__link-text" href="">08:16</a>
                </li>
                
            </ul>
        </div>
    </div>
    <div class="footer__active">
        <div class="footer__search">
            <label class="footer__search-label" for="footer__search">Receive product news and updates</label>
            <div class="footer__act-input">
            <input class="footer__input" type="email" name="" id="footer__search" placeholder="Email Address">
            <button class="btn btn--primary">Send</button>
            </div>
        </div>
        <div class="footer__icon">
            <a class="footer__icon--link footer__icon--link-fb" href="">
                <img class="footer__img" src="./assets/icon/fb.svg" alt="">
            </a>
            <a class="footer__icon--link footer__icon--link-youtube" href="">
                <img class=" footer__img" src="./assets/icon/youtube.svg" alt="">
            </a>
            <a class="footer__icon--link footer__icon--link-tiktok" href="">
                <img class="footer__img" src="./assets/icon/tiktok.svg" alt="">
            </a>
            <a class="footer__icon--link footer__icon--link-twitter" href="">
                <img class="footer__img" src="./assets/icon/twitter.svg" alt="">
            </a>
            <a class="footer__icon--link footer__icon--link-linkedin-in" href="">
                <img class="footer__img" src="./assets/icon/linkedin-in.svg" alt="">
            </a>

        </div>
    </div>
    </div>
</div>