<div class="container">
    <div class="top__bar">
         <!-- add menu mobile -->
         <button class="top__bar-menu">
            <img src="./assets/icon/menu.svg" alt="" class="icon top__bar-menu-icon">
           </button>
        <!-- logo -->
        <a href="./">
            <div class="logo">
                <img src="./assets/icon/logo.svg" alt="grocerymart" class="logo__img">
                <h1 class="logo__title">grocerymart</h1>
            </div>
        </a>
        <nav class="navbar">
            <ul class="navbar__list">
                <li>
                    <a class="navbar__link" href="">Departments
                        <img src="./assets/icon/arrow-down.svg" alt="" class=" icon navbar__arrow">
                    </a>
                </li>
                <li>
                    <a class="navbar__link" href="">Grocery
                        <img src="./assets/icon/arrow-down.svg" alt="" class=" icon navbar__arrow">
                    </a>
                </li>
                <li>
                    <a class="navbar__link" href="">Beauty
                        <img src="./assets/icon/arrow-down.svg" alt="" class=" icon navbar__arrow">
                    </a>
                </li>
            </ul>
        </nav>
        <!-- actions -->
        <div class="top__act">
            <div class="top__act-group top__act-group-single">
                <button  class="top__act-btn">
                    <img src="./assets/icon/search.svg" alt="" class="icon top__act-icon">
                </button>
            </div>
            <div class="top__act-group">
                <button  class="top__act-btn">
                    <img src="./assets/icon/heart.svg" alt="" class="icon top__act-icon">
                    <span class="icon top__act-title">03</span>
                </button>
                <div class="top__act-separate"></div>
                <button  class="top__act-btn">
                    <img src="./assets/icon/cart.svg" alt="" class="icon top__act-icon">
                    <span class="icon top__act-title">$65.42</span>
                </button>
            </div>
            <div class="top__act-user">
                <img src="./assets/img/avatar.jpg" alt="" class="top__act-avatar">
            </div>
        </div>
    </div>
</div>