@use "../abstracts";

.auth{
   
    min-height: 100vh;
    display: flex;
    &__logo{
        @include abstracts.screen (md){
            margin-bottom: 15rem;
        }
    }
    &__intro{
        padding: 0 3rem;
        background-color:var(--bg-auth-intro);
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &__img{
            flex-shrink: 0;
            width: min(42.2rem ,100%);
           
            object-fit: cover;
        }
        &__text{
         
            width: min(42.2rem ,100%);
           
            text-align: center;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 144.444%;
        }
        &-next{
            margin: 20rem 0 5rem 0;
        }
    }
    &__content{
        flex: 1;
       padding: 0 3rem;
        background-color: var(--bg-auth-content);
       padding-top: 5rem;
       @include abstracts.screen (md){
        &.hide{

            translate:100% 0;
        }
        &.show{
            translate:0 0;
        }
        position: fixed;
        z-index: 1;
        inset: 0;
        overflow-y: auto;
        transition: translate 0.5s;
       }
        &__inner{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            width: min(46rem,100%);
        
            margin: 0 auto;
        }
    }
    &__message{
        margin-top: 5rem;
    }
    &__form--message{
        margin-top: 1rem;
    }
    &__heading{
        font-size: 3rem;
        font-weight: 500;
        line-height: 4.4rem; 
        margin-top: 5rem;
    }
    &__desc{
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem;
        
        padding: 0 1.5rem;
        margin-top: 1rem;

        
    }
    &__link{
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.2rem; 
        color: #0071DC;
        }
    &__btn-group{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__btn {
        height: 5rem;
      }
    &__text{ 
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 2.6rem;
        margin-top: 10rem;
        &-link{
            font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.6rem; 
        }
    }

}
