/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --text-color:#1A162E;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(9%) saturate(4375%) hue-rotate(212deg) brightness(93%) contrast(96%);
}

body {
  font-size: 1.6rem;
  font-family: Gordita, sans-serif;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

img, a, button, select, textarea, input {
  color: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

.icon {
  filter: var(--icon-color);
}

.col, .row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container {
  --grid-gutter-x:30px;
  --grid-gutter-y:0;
  width: 1370px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-top: calc(var(--grid-gutter-y) * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0;
}

.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}

.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}

.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}

.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}

.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-1 {
  flex: 0 0 auto;
  width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.offset-0 {
  margin-left: 0%;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.g-0 {
  --grid-gutter-x:0px;
  --grid-gutter-y:0px;
}

.gx-0 {
  --grid-gutter-x:0px;
}

.gy-0 {
  --grid-gutter-y:0px;
}

.g-1 {
  --grid-gutter-x:7.5px;
  --grid-gutter-y:7.5px;
}

.gx-1 {
  --grid-gutter-x:7.5px;
}

.gy-1 {
  --grid-gutter-y:7.5px;
}

.g-2 {
  --grid-gutter-x:15px;
  --grid-gutter-y:15px;
}

.gx-2 {
  --grid-gutter-x:15px;
}

.gy-2 {
  --grid-gutter-y:15px;
}

.g-3 {
  --grid-gutter-x:30px;
  --grid-gutter-y:30px;
}

.gx-3 {
  --grid-gutter-x:30px;
}

.gy-3 {
  --grid-gutter-y:30px;
}

.g-4 {
  --grid-gutter-x:45px;
  --grid-gutter-y:45px;
}

.gx-4 {
  --grid-gutter-x:45px;
}

.gy-4 {
  --grid-gutter-y:45px;
}

.g-5 {
  --grid-gutter-x:90px;
  --grid-gutter-y:90px;
}

.gx-5 {
  --grid-gutter-x:90px;
}

.gy-5 {
  --grid-gutter-y:90px;
}

@media (max-width: 1399.98px) {
  .container {
    max-width: 1140px;
  }
  .row-cols -xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols -xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols -xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols -xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols -xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols -xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -xxl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col -xxl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col -xxl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col -xxl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col -xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col -xxl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col -xxl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col -xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col -xxl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col -xxl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col -xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset -xxl-0 {
    margin-left: 0%;
  }
  .offset -xxl-1 {
    margin-left: 8.3333333333%;
  }
  .offset -xxl-2 {
    margin-left: 16.6666666667%;
  }
  .offset -xxl-3 {
    margin-left: 25%;
  }
  .offset -xxl-4 {
    margin-left: 33.3333333333%;
  }
  .offset -xxl-5 {
    margin-left: 41.6666666667%;
  }
  .offset -xxl-6 {
    margin-left: 50%;
  }
  .offset -xxl-7 {
    margin-left: 58.3333333333%;
  }
  .offset -xxl-8 {
    margin-left: 66.6666666667%;
  }
  .offset -xxl-9 {
    margin-left: 75%;
  }
  .offset -xxl-10 {
    margin-left: 83.3333333333%;
  }
  .offset -xxl-11 {
    margin-left: 91.6666666667%;
  }
  .g -xxl-0 {
    --grid-gutter-x:0px;
    --grid-gutter-y:0px;
  }
  .gx -xxl-0 {
    --grid-gutter-x:0px;
  }
  .gy -xxl-0 {
    --grid-gutter-y:0px;
  }
  .g -xxl-1 {
    --grid-gutter-x:7.5px;
    --grid-gutter-y:7.5px;
  }
  .gx -xxl-1 {
    --grid-gutter-x:7.5px;
  }
  .gy -xxl-1 {
    --grid-gutter-y:7.5px;
  }
  .g -xxl-2 {
    --grid-gutter-x:15px;
    --grid-gutter-y:15px;
  }
  .gx -xxl-2 {
    --grid-gutter-x:15px;
  }
  .gy -xxl-2 {
    --grid-gutter-y:15px;
  }
  .g -xxl-3 {
    --grid-gutter-x:30px;
    --grid-gutter-y:30px;
  }
  .gx -xxl-3 {
    --grid-gutter-x:30px;
  }
  .gy -xxl-3 {
    --grid-gutter-y:30px;
  }
  .g -xxl-4 {
    --grid-gutter-x:45px;
    --grid-gutter-y:45px;
  }
  .gx -xxl-4 {
    --grid-gutter-x:45px;
  }
  .gy -xxl-4 {
    --grid-gutter-y:45px;
  }
  .g -xxl-5 {
    --grid-gutter-x:90px;
    --grid-gutter-y:90px;
  }
  .gx -xxl-5 {
    --grid-gutter-x:90px;
  }
  .gy -xxl-5 {
    --grid-gutter-y:90px;
  }
}
@media (max-width: 1199.98px) {
  .container {
    max-width: 960px;
  }
  .row-cols -xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols -xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols -xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols -xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols -xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols -xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -xl-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col -xl-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col -xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col -xl-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col -xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col -xl-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col -xl-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col -xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col -xl-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col -xl-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col -xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset -xl-0 {
    margin-left: 0%;
  }
  .offset -xl-1 {
    margin-left: 8.3333333333%;
  }
  .offset -xl-2 {
    margin-left: 16.6666666667%;
  }
  .offset -xl-3 {
    margin-left: 25%;
  }
  .offset -xl-4 {
    margin-left: 33.3333333333%;
  }
  .offset -xl-5 {
    margin-left: 41.6666666667%;
  }
  .offset -xl-6 {
    margin-left: 50%;
  }
  .offset -xl-7 {
    margin-left: 58.3333333333%;
  }
  .offset -xl-8 {
    margin-left: 66.6666666667%;
  }
  .offset -xl-9 {
    margin-left: 75%;
  }
  .offset -xl-10 {
    margin-left: 83.3333333333%;
  }
  .offset -xl-11 {
    margin-left: 91.6666666667%;
  }
  .g -xl-0 {
    --grid-gutter-x:0px;
    --grid-gutter-y:0px;
  }
  .gx -xl-0 {
    --grid-gutter-x:0px;
  }
  .gy -xl-0 {
    --grid-gutter-y:0px;
  }
  .g -xl-1 {
    --grid-gutter-x:7.5px;
    --grid-gutter-y:7.5px;
  }
  .gx -xl-1 {
    --grid-gutter-x:7.5px;
  }
  .gy -xl-1 {
    --grid-gutter-y:7.5px;
  }
  .g -xl-2 {
    --grid-gutter-x:15px;
    --grid-gutter-y:15px;
  }
  .gx -xl-2 {
    --grid-gutter-x:15px;
  }
  .gy -xl-2 {
    --grid-gutter-y:15px;
  }
  .g -xl-3 {
    --grid-gutter-x:30px;
    --grid-gutter-y:30px;
  }
  .gx -xl-3 {
    --grid-gutter-x:30px;
  }
  .gy -xl-3 {
    --grid-gutter-y:30px;
  }
  .g -xl-4 {
    --grid-gutter-x:45px;
    --grid-gutter-y:45px;
  }
  .gx -xl-4 {
    --grid-gutter-x:45px;
  }
  .gy -xl-4 {
    --grid-gutter-y:45px;
  }
  .g -xl-5 {
    --grid-gutter-x:90px;
    --grid-gutter-y:90px;
  }
  .gx -xl-5 {
    --grid-gutter-x:90px;
  }
  .gy -xl-5 {
    --grid-gutter-y:90px;
  }
}
@media (max-width: 991.98px) {
  .container {
    max-width: 720px;
  }
  .row-cols -lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols -lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols -lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols -lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols -lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols -lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -lg-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col -lg-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col -lg-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col -lg-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col -lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col -lg-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col -lg-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col -lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col -lg-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col -lg-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col -lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset -lg-0 {
    margin-left: 0%;
  }
  .offset -lg-1 {
    margin-left: 8.3333333333%;
  }
  .offset -lg-2 {
    margin-left: 16.6666666667%;
  }
  .offset -lg-3 {
    margin-left: 25%;
  }
  .offset -lg-4 {
    margin-left: 33.3333333333%;
  }
  .offset -lg-5 {
    margin-left: 41.6666666667%;
  }
  .offset -lg-6 {
    margin-left: 50%;
  }
  .offset -lg-7 {
    margin-left: 58.3333333333%;
  }
  .offset -lg-8 {
    margin-left: 66.6666666667%;
  }
  .offset -lg-9 {
    margin-left: 75%;
  }
  .offset -lg-10 {
    margin-left: 83.3333333333%;
  }
  .offset -lg-11 {
    margin-left: 91.6666666667%;
  }
  .g -lg-0 {
    --grid-gutter-x:0px;
    --grid-gutter-y:0px;
  }
  .gx -lg-0 {
    --grid-gutter-x:0px;
  }
  .gy -lg-0 {
    --grid-gutter-y:0px;
  }
  .g -lg-1 {
    --grid-gutter-x:7.5px;
    --grid-gutter-y:7.5px;
  }
  .gx -lg-1 {
    --grid-gutter-x:7.5px;
  }
  .gy -lg-1 {
    --grid-gutter-y:7.5px;
  }
  .g -lg-2 {
    --grid-gutter-x:15px;
    --grid-gutter-y:15px;
  }
  .gx -lg-2 {
    --grid-gutter-x:15px;
  }
  .gy -lg-2 {
    --grid-gutter-y:15px;
  }
  .g -lg-3 {
    --grid-gutter-x:30px;
    --grid-gutter-y:30px;
  }
  .gx -lg-3 {
    --grid-gutter-x:30px;
  }
  .gy -lg-3 {
    --grid-gutter-y:30px;
  }
  .g -lg-4 {
    --grid-gutter-x:45px;
    --grid-gutter-y:45px;
  }
  .gx -lg-4 {
    --grid-gutter-x:45px;
  }
  .gy -lg-4 {
    --grid-gutter-y:45px;
  }
  .g -lg-5 {
    --grid-gutter-x:90px;
    --grid-gutter-y:90px;
  }
  .gx -lg-5 {
    --grid-gutter-x:90px;
  }
  .gy -lg-5 {
    --grid-gutter-y:90px;
  }
}
@media (max-width: 767.98px) {
  .container {
    max-width: 540px;
  }
  .row-cols -md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols -md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols -md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols -md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols -md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols -md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -md-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col -md-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col -md-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col -md-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col -md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col -md-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col -md-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col -md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col -md-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col -md-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col -md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset -md-0 {
    margin-left: 0%;
  }
  .offset -md-1 {
    margin-left: 8.3333333333%;
  }
  .offset -md-2 {
    margin-left: 16.6666666667%;
  }
  .offset -md-3 {
    margin-left: 25%;
  }
  .offset -md-4 {
    margin-left: 33.3333333333%;
  }
  .offset -md-5 {
    margin-left: 41.6666666667%;
  }
  .offset -md-6 {
    margin-left: 50%;
  }
  .offset -md-7 {
    margin-left: 58.3333333333%;
  }
  .offset -md-8 {
    margin-left: 66.6666666667%;
  }
  .offset -md-9 {
    margin-left: 75%;
  }
  .offset -md-10 {
    margin-left: 83.3333333333%;
  }
  .offset -md-11 {
    margin-left: 91.6666666667%;
  }
  .g -md-0 {
    --grid-gutter-x:0px;
    --grid-gutter-y:0px;
  }
  .gx -md-0 {
    --grid-gutter-x:0px;
  }
  .gy -md-0 {
    --grid-gutter-y:0px;
  }
  .g -md-1 {
    --grid-gutter-x:7.5px;
    --grid-gutter-y:7.5px;
  }
  .gx -md-1 {
    --grid-gutter-x:7.5px;
  }
  .gy -md-1 {
    --grid-gutter-y:7.5px;
  }
  .g -md-2 {
    --grid-gutter-x:15px;
    --grid-gutter-y:15px;
  }
  .gx -md-2 {
    --grid-gutter-x:15px;
  }
  .gy -md-2 {
    --grid-gutter-y:15px;
  }
  .g -md-3 {
    --grid-gutter-x:30px;
    --grid-gutter-y:30px;
  }
  .gx -md-3 {
    --grid-gutter-x:30px;
  }
  .gy -md-3 {
    --grid-gutter-y:30px;
  }
  .g -md-4 {
    --grid-gutter-x:45px;
    --grid-gutter-y:45px;
  }
  .gx -md-4 {
    --grid-gutter-x:45px;
  }
  .gy -md-4 {
    --grid-gutter-y:45px;
  }
  .g -md-5 {
    --grid-gutter-x:90px;
    --grid-gutter-y:90px;
  }
  .gx -md-5 {
    --grid-gutter-x:90px;
  }
  .gy -md-5 {
    --grid-gutter-y:90px;
  }
}
@media (max-width: 575.98px) {
  .container {
    max-width: 100%;
  }
  .row-cols -sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols -sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols -sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols -sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols -sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols -sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -sm-1 {
    flex: 0 0 auto;
    width: 8.3333333333%;
  }
  .col -sm-2 {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col -sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col -sm-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .col -sm-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
  }
  .col -sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col -sm-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
  }
  .col -sm-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
  }
  .col -sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col -sm-10 {
    flex: 0 0 auto;
    width: 83.3333333333%;
  }
  .col -sm-11 {
    flex: 0 0 auto;
    width: 91.6666666667%;
  }
  .col -sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset -sm-0 {
    margin-left: 0%;
  }
  .offset -sm-1 {
    margin-left: 8.3333333333%;
  }
  .offset -sm-2 {
    margin-left: 16.6666666667%;
  }
  .offset -sm-3 {
    margin-left: 25%;
  }
  .offset -sm-4 {
    margin-left: 33.3333333333%;
  }
  .offset -sm-5 {
    margin-left: 41.6666666667%;
  }
  .offset -sm-6 {
    margin-left: 50%;
  }
  .offset -sm-7 {
    margin-left: 58.3333333333%;
  }
  .offset -sm-8 {
    margin-left: 66.6666666667%;
  }
  .offset -sm-9 {
    margin-left: 75%;
  }
  .offset -sm-10 {
    margin-left: 83.3333333333%;
  }
  .offset -sm-11 {
    margin-left: 91.6666666667%;
  }
  .g -sm-0 {
    --grid-gutter-x:0px;
    --grid-gutter-y:0px;
  }
  .gx -sm-0 {
    --grid-gutter-x:0px;
  }
  .gy -sm-0 {
    --grid-gutter-y:0px;
  }
  .g -sm-1 {
    --grid-gutter-x:7.5px;
    --grid-gutter-y:7.5px;
  }
  .gx -sm-1 {
    --grid-gutter-x:7.5px;
  }
  .gy -sm-1 {
    --grid-gutter-y:7.5px;
  }
  .g -sm-2 {
    --grid-gutter-x:15px;
    --grid-gutter-y:15px;
  }
  .gx -sm-2 {
    --grid-gutter-x:15px;
  }
  .gy -sm-2 {
    --grid-gutter-y:15px;
  }
  .g -sm-3 {
    --grid-gutter-x:30px;
    --grid-gutter-y:30px;
  }
  .gx -sm-3 {
    --grid-gutter-x:30px;
  }
  .gy -sm-3 {
    --grid-gutter-y:30px;
  }
  .g -sm-4 {
    --grid-gutter-x:45px;
    --grid-gutter-y:45px;
  }
  .gx -sm-4 {
    --grid-gutter-x:45px;
  }
  .gy -sm-4 {
    --grid-gutter-y:45px;
  }
  .g -sm-5 {
    --grid-gutter-x:90px;
    --grid-gutter-y:90px;
  }
  .gx -sm-5 {
    --grid-gutter-x:90px;
  }
  .gy -sm-5 {
    --grid-gutter-y:90px;
  }
}
.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
html.dark {
  --text-color: #ffffff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(94%)
    saturate(18%) hue-rotate(326deg) brightness(106%) contrast(103%);
  --header-bg-color: #171c28;
  --top-act-group-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #1a162e;
  --text-logo-color: #ffffff;
  --body-bg-color: #292e39;
  --dropdown-bg-color: #363c4a;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(22%)
    saturate(563%) hue-rotate(184deg) brightness(89%) contrast(86%);
  --top-menu-main-border: #171c28;
  --top-menu-icon: brightness(0) saturate(100%) invert(94%) sepia(1%)
    saturate(581%) hue-rotate(195deg) brightness(105%) contrast(97%);
}
@media (max-width: 991.98px) {
  html.dark {
    --navbar-bg-color: #292e39;
  }
}

:root {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(9%)
    saturate(4375%) hue-rotate(212deg) brightness(93%) contrast(96%);
  --header-bg-color: #eeeeee;
  --top-act-group-color: #ffffff;
  --body-bg-color: #f6f6f6;
  --top-act-group-shadow: rgba(237, 237, 245, 0.2);
  --top-act-group-separate: #1a162e;
  --text-logo-color: #1a162e;
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-main-border: #d2d1d6;
}
@media (max-width: 575.98px) {
  :root {
    --header-bg-color: #fff;
    --body-color: #f6f6f6;
  }
}
@media (max-width: 991.98px) {
  :root {
    --herder-lg-shadow: #ededf633;
    --navbar-bg-color: #fff;
  }
}

.top__act-btn, .top__act-group, .top__act, .navbar__link, .navbar__list, .top__bar {
  display: flex;
  align-items: center;
}

.header {
  background-color: var(--header-bg-color);
  padding: 3rem 0;
}
@media (max-width: 575.98px) {
  .header {
    padding: 1.6rem 0;
  }
}
@media (max-width: 991.98px) {
  .header {
    padding: 2rem 0;
    box-shadow: 0px 20px 60px 10px var(--herder-lg-shadow);
  }
}

.top__bar {
  position: relative;
  z-index: 10;
}
@media (max-width: 767.98px) {
  .top__bar {
    justify-content: space-between;
  }
}

.navbar {
  margin-left: 14.4rem;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 6rem;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 50% 0 0;
    background-color: var(--navbar-bg-color);
    margin-left: 0;
    z-index: 9;
    transform: translateX(-100%);
    padding: 3.5rem;
    transition: transform 0.5s ease;
  }
}
@media (max-width: 767.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
@media (max-width: 991.98px) {
  .navbar.show {
    transform: translateX(0);
  }
}
@media (max-width: 991.98px) {
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
.navbar__close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close-btn {
    display: block;
    margin: 2rem 0;
  }
}
@media (max-width: 991.98px) {
  .navbar__list {
    align-items: flex-start;
    flex-direction: column;
    gap: 2.4rem;
    overflow-y: auto;
    height: calc(100% - 23px);
  }
}
.navbar__item:first-child a {
  padding-left: 0;
}
.navbar__item:last-child a {
  padding-right: 0;
}
.navbar__item {
  width: 100%;
}
@media (max-width: 767.98px) {
  .navbar__item {
    margin-top: 2rem;
  }
}
.navbar__item:hover .dropdown {
  display: block;
}
.navbar__link {
  gap: 0.6rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 5rem;
  padding: 0 1.5rem;
}
@media (max-width: 991.98px) {
  .navbar__link {
    justify-content: space-between;
    width: 100%;
    padding: 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
}
.navbar__arrow {
  margin-top: 0.3rem;
}

.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility opacity 0.5s ease;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    inset: 0;
    z-index: 8;
  }
}

.top__act {
  margin-left: auto;
  gap: 2rem;
}
@media (max-width: 767.98px) {
  .top__act {
    margin-left: 0;
  }
}
.top__act-group {
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
  border-radius: 0.8rem;
  background-color: var(--top-act-group-color);
}
.top__act-group-single .top__act-btn {
  padding: 1.3rem;
}
.top__act-btn {
  padding: 1.3rem 2rem;
  border: none;
  outline: none;
  display: flex;
  gap: 1rem;
  cursor: pointer;
}
.top__act-title {
  color: var(--top-act-group-separate);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.2rem;
}
.top__act-separate {
  width: 0.1rem;
  height: 3rem;
  background-color: #ededf6;
}
.top__act-avatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 0.8rem;
  cursor: pointer;
}

.navbar__icon {
  display: none;
}
@media (max-width: 767.98px) {
  .navbar__icon {
    display: flex;
    margin-top: 2rem;
  }
}
.navbar__icon-heading, .navbar__icon-title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2.2rem;
}
@media (max-width: 767.98px) {
  .navbar__icon-title {
    margin-left: 1.6rem;
  }
}
@media (max-width: 767.98px) {
  .navbar__icon-heading {
    margin-left: auto;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
    margin-left: 3.9rem;
  }
}
@media (max-width: 767.98px) {
  .logo {
    margin-left: 0;
  }
}
.logo__title {
  color: var(--text-logo-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 2.2;
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.dropdown {
  position: absolute;
  left: 1.5rem;
  padding-top: 5.4rem;
  display: none;
  width: min(124rem, 100%);
}
@media (max-width: 991.98px) {
  .dropdown {
    display: block;
    position: initial;
    padding-top: 1rem;
  }
}
.dropdown__inner {
  border-radius: 2rem;
  background: var(--dropdown-bg-color);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadow-color);
  padding: 3rem;
  height: min(58.2rem, 100vh - 154px);
  position: relative;
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    padding: 0 3rem 0 0;
  }
}
.dropdown__icon-arrow {
  position: absolute;
  top: 3.8rem;
  left: var(--arrow-left-pos);
  transform: translateX(-32px);
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__icon-arrow {
    display: none;
  }
}

.top__menu {
  --men-column-width: 29.2rem;
  width: 100%;
  height: 100%;
  position: relative;
}
.top__menu-maim {
  width: var(--men-column-width);
  height: 100%;
  overflow-y: auto;
  border-right: 1px solid var(--top-menu-main-border);
}
@media (max-width: 991.98px) {
  .top__menu-maim {
    border-right: none;
    width: 100%;
    height: auto;
  }
}

.menu-column {
  display: flex;
  gap: 1.4rem;
}
.menu-column + .menu-column {
  margin-top: 3rem;
}
.menu-column-icon {
  flex-shrink: 0;
  width: 3.6rem;
  height: 3.3rem;
  position: relative;
}
@media (max-width: 1199.98px) {
  .menu-column-icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column-icon {
    display: block;
  }
}
.menu-column-content {
  flex: 1;
}
.menu-column-icon1 {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}
.menu-column-icon2 {
  width: 1.8rem;
  height: 1.8rem;
  object-fit: contain;
  position: absolute;
  right: 0;
  bottom: 0;
  filter: var(--top-menu-icon);
}
.menu-column-heading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.4rem;
  margin: 0.6rem 0 1.5rem 0;
}
.menu-column-link {
  display: block;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding: 0.5rem 0;
}
.menu-column-item-active > .menu-column-link, .menu-column-item:hover > .menu-column-link {
  color: #0071dc;
  font-weight: 500;
}
.menu-column-item:hover .sub-menu {
  display: block;
}
.menu-column-item-active .sub-menu {
  display: grid;
}

.sub-menu {
  position: absolute;
  inset: 0 0 0 var(--men-column-width);
  height: 100%;
  overflow-y: auto;
  padding-left: 3rem;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
    overflow-y: initial;
  }
}

.sub-menu-act {
  position: initial;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu-act {
    grid-template-columns: 1fr;
    height: auto;
  }
}

.slideshow {
  position: relative;
  margin-top: 4rem;
}
@media (max-width: 767.98px) {
  .slideshow {
    margin-top: 3rem;
  }
}
.slideshow__inner {
  display: flex;
  overflow: hidden;
}
.slideshow__item {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  padding-top: 34%;
}
@media (max-width: 767.98px) {
  .slideshow__item {
    padding-top: 50%;
  }
}
.slideshow__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow__page {
  position: absolute;
  left: 5.2%;
  bottom: 15%;
  display: flex;
  align-items: center;
  width: 18%;
}
@media (max-width: 767.98px) {
  .slideshow__page {
    display: none;
  }
}
.slideshow__num {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.6rem;
}
.slideshow__slider {
  width: 100%;
  height: 0.4rem;
  background-color: #fff;
  position: relative;
  margin: 0 2.4rem;
}
.slideshow__slider::before, .slideshow__slider::after {
  content: "";
  top: 50%;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  border: 0.4rem solid #fff;
  border-radius: 50%;
  translate: -90% -50%;
}
.slideshow__slider::after {
  right: 0;
  translate: 90% -50%;
}

/*# sourceMappingURL=main.css.map */
