@use "../abstracts";
html.dark {
  --text-color: #ffffff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(94%)
    saturate(18%) hue-rotate(326deg) brightness(106%) contrast(103%);
  --header-bg-color: #171c28;
  --top-act-group-color: #292e39;
  --top-act-group-shadow: rgba(0, 0, 0, 0.2);
  --top-act-group-separate: #1a162e;
  --text-logo-color: #ffffff;
  --body-bg-color: #292e39;
  // dropdown
  --dropdown-bg-color: #363c4a;
  --dropdown-shadow-color: rgba(23, 28, 40, 0.4);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(20%) sepia(22%)
    saturate(563%) hue-rotate(184deg) brightness(89%) contrast(86%);
  --top-menu-main-border: #171c28;
  --top-menu-icon: brightness(0) saturate(100%) invert(94%) sepia(1%)
    saturate(581%) hue-rotate(195deg) brightness(105%) contrast(97%);
  @include abstracts.screen(lg) {
    --navbar-bg-color: #292e39;
  }
  // cate
   // cate
 --cate-bg-img:#292E39;
 --cate-text-color:#FFF;
 --cate-bg-item:#171C28;
 //  filter
--filter-bg-btn-color:#171C28;
--filter-text-color:#fff;
--filter-bg-color:#292E39;
--filter-shadow:rgba(0, 0, 0, 0.40);
--filter-bg-size:#171C28;
// product
--product-bg-img-color:#171C28;
--product-bg-color:#171C28;
--product-bg-btn-color:#292E39;
--product-shadow:rgba(237, 237, 246, 0.20);


// sign-up
// intro
--bg-auth-intro: #171C28;
--bg-auth-content:#292E39;
}
