@use "../abstracts";
.logo {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  @include abstracts.screen(lg) {
    gap: 10px;
    margin-left: 3.9rem;
  }
  @include abstracts.screen(md) {
    margin-left: 0;
  }

  &__title {
    color: var(--text-logo-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 2.2;
    @include abstracts.screen(lg) {
      font-size: 1.8rem;
    }
  }
  &__img {
    @include abstracts.screen(lg) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

// css logo title
